{% extends 'base.html' %}

{% block content %}
<section>
    <h2>О проекте</h2>
    <p>Проект направлен на разработку и обучение нейронной сети для генерации текстовых отзывов о различных местах на основе входных данных, таких как категория места, средний рейтинг и ключевые слова. Мы использовали предобученную модель T5 и дообучили её на данных отзывов из открытого датасета Yandex Geo-Reviews Dataset 2023, содержащего более 500 000 уникальных отзывов, опубликованных с января по июль 2023 года.</p>
	
	<br>
    <h2>Основные цели проекта:</h2>
    <ol>
        <li>Очистка и обработка данных для обучения.
            <ul>
                <li>Приведение текстов к единому формату. Подготовка данных для корректного обучения модели.</li>
            </ul>
        </li>
        <li>Дообучение модели на специфичных текстовых данных.
            <ul>
                <li>Использование предобученной модели T5 и дообучение её на датасете для генерации текстов, соответствующих контексту.</li>
            </ul>
        </li>
        <li>Генерация отзывов, реалистичных и соответствующих заданным входным параметрам.
            <ul>
                <li>Модель должна создавать тексты, учитывающие такие параметры.</li>
            </ul>
        </li>
        <li>Интуитивно понятный интерфейс для тестирования.
            <ul>
                <li>Разработка веб-клиента, позволяющего пользователям тестировать модель, вводя параметры и получать сгенерированные отзывы.</li>
            </ul>
        </li>
    </ol>

</section>
{% endblock %}
