{% extends 'base.html' %}

{% block content %}
<section>
    <h2>О нас</h2>
    <p>Проект команды №6 по предмету "Проектный практикум 3. Учебная задача"</p>
	<br>
	<h2 class="team-info-title">Наша команда</h2>
    <table class="team-table">
        <thead>
            <tr>
                <th>Команда</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Екатерина Зверева</td>
                <td>Тимлид. Руководила проектом, распределяла задачи, обеспечивала взаимодействие команды и контроль сроков выполнения.</td>
            </tr>
            <tr>
                <td>Александр Кузнецов</td>
                <td>Проектное решение(выбор модели) и разработчик. Разработал основные ноутбуки проекта, предложил архитектурные решения, занимался обучением и тестированием модели.</td>
            </tr>
            <tr>
                <td>Александр Мулявин</td>
                <td>Специалист по данным и разработчик. Выполнял очистку данных, участвовал в обучении и тестировании модели, вносил улучшения в архитектуру и обработку данных.</td>
            </tr>
            <tr>
                <td>Денис Косташ</td>
                <td>Разработчик интерфейса и специалист по данным. Создал клиентский веб-интерфейс и участвовал в подготовке данных и обучении модели.</td>
            </tr>
            <tr>
                <td>Владислав Телегинский</td>
                <td>Аналитик качества и исследователь. Оценивал работу модели, разрабатывал метрики и анализировал результаты генерации.</td>
            </tr>
            <tr>
                <td>Сергей Полухин</td>
                <td>Тестировщик. Тестирование. Документация</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}